@page "/bookings"

@inject IJSRuntime js
@inject NavigationManager manager
@inject SingletonServise servise

<section> 
    <button id="newClient" class="btn btn-default btn-success" @onclick=" () => NewBooking()" data-bs-toggle="modal" data-bs-target="#modalRegisterForm">
        Забронировать
    </button><table class="table">
        <thead>
            <tr>
                <th>Номер комнаты</th>
                <th>Клиент</th>
                <th>Дата заезда</th>
                <th>Дата выезда</th>
                <th>Сумма проживания</th>
                <th>Изменить</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in sortingBooking)
            {
                <tr>
                    <td>@book.Room.Number</td>
                    <td>@book.Client.ClientName</td>
                    <td>@book.ArrivalDate</td>
                    <td>@book.DepartureDate</td>
                    <td>@book.TotalPrice</td>
                    <td>
                        <button type="button" class="btn btn-info" @*@onclick="() => NewBooking(book)"*@>Change</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@code {
    List<Booking> booking = new List<Booking>();
    List<Booking> sortingBooking = new List<Booking>();

    protected override void OnInitialized()
    {
        js.InvokeVoidAsync("ChangePanelsState");
        booking = Mongo.FindAllBooking();
        sortingBooking = booking;
    }

    private void NewBooking()
    {
        //servise.booking = newBooking;
        manager.NavigateTo("booking");
    }
}

<style>
    body {
        background-color: #eeeeee
    }

</style>
