@page "/booking"

@inject NavigationManager manager
@inject SingletonServise servise
@inject IJSRuntime js

<div>
    <div>
        <div style="text-align: center; font-family: Georgia; font-size: 2em;">
            <span>Бронь</span>
        </div>
    </div>
</div>
<div class="row" style="margin: 2% 25% 5% 25%">
        <div class="col-lg-8" style="width: 800px">
            <div class="card mb-4">
                <div class="card-body">
                    <EditForm Model="@booking" class="formRegistr" OnValidSubmit="@Submit" >
        <DataAnnotationsValidator />
                    <div class="row">
                        <div class="col-sm-5">
                        <p class="mb-0">Клиент</p>
                        </div>
                        <div class="col-sm-7">
                            <InputText class="bookingInput" @bind-Value="@booking.Client.ClientName" @onchange="v" disabled="@editing"></InputText>
                            <ValidationMessage For="@(()=>booking.Client.ClientName)"></ValidationMessage>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="mb-0">Количество взрослых</p>
                        </div>
                        <div class="col-sm-7">
                            <InputNumber class="bookingInput" @bind-Value="booking.AdaltCount"  disabled="@editing"> </InputNumber>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Количество детей</p>
                    </div>
                    <div class="col-sm-7">
                        <InputNumber class="bookingInput" @bind-Value="booking.ChildCount" disabled="@editing"> </InputNumber>
                </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Тип номера</p>
                    </div>
                    <div class="col-sm-7">
                            <InputText class="bookingInput" type="text" @bind-Value="booking.Room.Type" disabled="@editing"> </InputText>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <p class="mb-0">Дата заезда</p>
                    </div>
                    <div class="col-sm-7">
                        <InputDate class="bookingInput" @bind-Value="booking.ArrivalDate" disabled="@editing" > </InputDate>
                    </div>
                </div>
            <hr>
            <div class="row">
                <div class="col-sm-5">
                    <p class="mb-0">Дата выезда</p>
                </div>
                <div class="col-sm-7">
                        <InputDate class="bookingInput" @bind-Value="booking.DepartureDate" disabled="@editing"> </InputDate>
                </div>
            </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                <p class="mb-0">Номер</p>
            </div>
            <div class="col-sm-7">
                    <InputNumber class="bookingInput" @bind-Value="@booking.Room.Number"  disabled="@editing"></InputNumber>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                <p class="mb-0">Итоговая сумма проживания</p>
            </div>
            <div class="col-sm-7">
                    <InputNumber display class="bookingInput" @bind-Value="booking.TotalPrice" disabled="@editing"> </InputNumber>
            </div>
        </div>
            <hr>
            <div class="d-flex justify-content-end"  id="btnProfil">
                        <button type="button" style="margin-right: 1%;" hidden="@editing"
                                class="btn btn-danger" @onclick=CancelСhanges>
                            Отменить
                        </button>
                <button type="submit"
                                class="btn btn-success">
                    @btnText
                </button>
                </div>
                </EditForm>
            </div>
        </div>

        </div>
    </div>
@code {
    Client client;
    Room room;
    Booking booking;
    bool wasSubmitted;
    string Name;
    bool editing = true;
    string btnText = "Изменить";
    protected override async void OnInitialized()
    {

        booking = servise.booking;
        client = booking.Client;
        room = booking.Room;
    }
    public void v()
    {
        booking = new Booking(booking.Room, booking.Client, booking.AdaltCount, booking.ChildCount, booking.ArrivalDate, booking.DepartureDate, (double)booking.TotalPrice);
    }

    public void Editing()
    {
        switch (btnText)
        {
            case "Изменить":
                editing = false;
                btnText = "Сохранить";
                break;
            case "Сохранить":
                editing = true;
                btnText = "Изменить";
                Mongo.ReplaceBooking(booking.Client, booking);
                break;
        }
    }

    private void CancelСhanges()
    {
        editing = true;
        btnText = "Изменить";
        booking.Client.ClientName += servise.booking.Client.ClientName;
        booking.AdaltCount = 100000;
        booking.ChildCount = servise.booking.ChildCount;
        booking.Room.Type = servise.booking.Room.Type;
        booking.ArrivalDate = servise.booking.ArrivalDate;
        booking.DepartureDate = servise.booking.DepartureDate;
        booking.Room.Number = servise.booking.Room.Number;
        booking.TotalPrice = servise.booking.TotalPrice;

    }

    public void Submit()
    {
        wasSubmitted = true;
        Editing();
    }
}

<style>

    body {
        background-color: #eeeeee
    }

    .vh-100 {
        height: 96vh !important;
    }
    
    input {
        width: 98%;
        outline: none!important;
        border: 0;
        border-bottom: 0.1px solid white;
        height: 37px;
        font-size: 16px;
        margin-top: -2%;
    }

.section {
    position: relative;
    height: 100vh;
}

.section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
</style>