@page "/clients"

<PageTitle>Clients</PageTitle>

@inject IJSRuntime js
@inject NavigationManager manager
@inject SingletonServise servise

<section>
<div class="modal fade" id="modalRegisterForm" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Регистрация клиента</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="() => Clear()">
                </button>
            </div>
            <EditForm Model="@client" class="formRegistr" OnValidSubmit="@Submit">
        <DataAnnotationsValidator />
        <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text" ></i>
                    <div id="inputBox">
                        <InputText class="fas fa-envelope prefix grey-text" required="required" type="text" @bind-Value="client.ClientName"></InputText>
                        <span id="span">Фамилия, имя, отчество</span>
                        <span style="margin-top: -4px"><ValidationMessage For="() => client.ClientName" /></span>
                    </div>
                </div>
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text" ></i>
                    <div id="inputBox">
                        <InputText class="fas fa-envelope prefix grey-text" type="text" @bind-Value=client.Email required="required"></InputText>
                        <span id="span">Почтовый адрес</span>
                        <span style="margin-top: -4px"><ValidationMessage For="() => client.Email" /></span>
                    </div>
                </div>
                <div class="md-form mb-5">
                    <i class="fas fa-phone prefix grey-text"></i>
                    <div id="inputBox">
                        <InputMask class="fas fa-envelope prefix grey-text" type="text" required="required" @bind-Value="client.PhoneNumber" data-mask="+7(000)-000-00-00" />
                        <span id="span">Номер телефона</span>
                        <span style="margin-top: -4px"><ValidationMessage For="() => client.PhoneNumber" /></span>
                    </div>
                </div>
        </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default btn-success" type="submit">Добавить</button>
            </div>
                </EditForm>
        </div>
    </div>
</div>
<div  class="appbar"  style="margin: 20px 0 0 10%">
    <input id="searching" class="sort" type="text" @bind="Search" @bind:event="oninput" @onkeyup="Searching" required="required" placeholder="Поиск">
    <i id="searching" class="fas fa-search prefix grey-text"></i>
    <button id="newClient" class="btn btn-default btn-success" data-bs-toggle="modal" data-bs-target="#modalRegisterForm">
    Добавить нового клиента
</button>
</div>
    <table class="table" style="overflow-y:auto; width: 80%; margin: 40px 10%; ">
        <thead >
            <tr>
                <th>Фамиля, имя, отчество</th>
                <th>Почтовый адрес</th>
                <th>Номер телефона</th>
                <th>Личный кабинет</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var client in sortingClients)
            {
                <tr >
                    <td>@client.ClientName</td>
                    <td>@client.Email</td>
                    <td>@client.PhoneNumber</td>
                    <td>
                        <button class="button" style="vertical-align:middle" @onclick="() => OpenCurentClient(client)"><span>Изменить </span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
@code
{
    List<Client> clients = new List<Client>();
    List<Client> sortingClients = new List<Client>();
    Client client = new Client("","","");
    string Search = "";
    bool wasSubmitted;

    protected override void OnInitialized()
    {
        js.InvokeVoidAsync("ChangePanelsState");
        clients = Mongo.FindAllClient();
        sortingClients = clients;
    }

    public void Submit()
    {
        wasSubmitted = true;
        AddNewClient();
    }

    private void Searching()
    {
        sortingClients = clients.Where((element) =>
            element.ClientName.ToLower().Contains(Search.ToLower())
            || element.Email.ToLower().Contains(Search.ToLower())
            || element.PhoneNumber.ToLower().Contains(Search.ToLower()))
        .ToList();
    }

    private void AddNewClient()
    {
        Mongo.AddClientToDB(new Client(client.ClientName, client.Email, client.PhoneNumber));
        clients.Add(new Client(client.ClientName, client.Email, client.PhoneNumber));
        Searching();
        Clear();
    }

    private void Clear()
    {
        client = new Client("", "", "");
    }

    private void OpenCurentClient(Client client)
    {
        servise.client = client;
        manager.NavigateTo("clientProfile");
    }
}


<style>
    body {
        background-color: #eeeeee
    }

    .appbar{
        margin-bottom: 20px;
    }

    #newClient {
        position: absolute;
        margin-left: 15%;
        margin-top: -1px;
    }

    #searching { 
        width: 250px;
        height: 35px;
        padding-left: 24px;
    }

    #searching ~ i {
        width: 35px;
        margin-left: -272px;
    }

    #inputBox {
        position: relative;
        margin-top: -33px;
    }

    #span {
        margin-top: -30px;
    }
    #inputBox input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
        outline: none;
        color: black;
        font-size: 14px;
        margin-left: 2.6rem;
        height: 30px;
        width: 400px;
    }

    #inputBox span {
        position: absolute;
        left: 45px;
        padding: 4px;
        pointer-events: none;
        font-size: 0.8em;
        color: gray;
        text-transform: uppercase;
        transition: 0.5s;
    }

    #inputBox input:valid ~ #span,

    #inputBox input:focus ~ #span {
        color: grey;
        transform: translateX(-1px) translateY(-15px);
        font-size: 0.6em;
        background: none;
        letter-spacing: 0.2em;
    }

    .md-form .prefix ~ input{
        width: calc(100% - 2rem);
        margin-left: 2.5rem;
    }

    .md-form .prefix {
        position: relative;
        transition: color .2s;
        font-size: 1.75rem;
    }

    .button {
display: inline-block;
    border-radius: 4px;
    background-color: #0dcaf0;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 11px;
    width: 116px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 22px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

</style>



    